<%= form_with(model: [@comment.project, @comment], :html => { :style => 'padding:10px; margin:0; background: #000; color: #fff;' }, local: false) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
 <div class="input_div"> 
     
    <div class="text-center input_div1"> 
      <%= f.text_field :text, placeholder:"new", class:"input_t"%>
    </div>
    
    <div style="margin:0 0 -10px 0;"> 
      <%= button_tag(type: 'submit', class:"input_b") do %>
          <i class="material-icons" style="font-size:40px; color: #fff;">send</i>
      <% end %> 
    </div>
  </div>
<% end %>
