<div id="main"> 
<div class="row w-100 m-0"> 
    <h2 class="col-sm-3 bg-light m-0 py-2">  </h2>

    <h2 class="col-sm-9 bg-light mt-0 mb-5 py-2"> <%= @user.name %> </h2>
</div>

<div class="row w-100">
  <div class="col-sm-3 d-none d-sm-block bg-light" style="position: sticky; top: 0px; left: 0px ; overflow-y:auto; height: 90vh">

    <div class="container row text-center m-auto"> 
      <h3 class="my-2"> Users </h3>
      <hr>

      <% @users.each do |user| %>
       <% if user.id == current_user.id %>
       <% next %>
       <% end %>

        <h5 class="mx-auto my-2">
          <%= link_to home_url(user) do %>     
            <i class="material-icons m-auto" style="color: green; font-size:20px;">
                  message
            </i>
            <%= user.username %>
          <% end %> 
        </h5> 
      <% end %>
    </div>
    <br>
    <br>
  </div>

  <div class="col-sm-9 ps-sm-4" id="chat_body">
    
    <div id="messages">
      <% @messagee.each do |aa| %>
 
        <% if aa.user_id == current_user.id %>
          <div class="text-end ps-1 pe-2 my-1 me-1 ms-5">
       		<b>
           <%= link_to aa, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-danger" do %> 
              <i class="material-icons" style="font-size:30px; color: red;">
                    delete
              </i> 
           <% end %>
          </b>
          <b>  
      		  <%= time_ago_in_words(aa.created_at) %> Ago
          </b>
          <br> 
       		<p class="p_tag">
      		  <%= aa.message %> 
          </p>
       		<span style="clear: both; display: block;"></span>
      	</div>
        
        <% else %>
       
      	<div class="pe-1 ps-2 my-1 ms-1 me-5">
          <b>
            <%= time_ago_in_words(aa.created_at) %> Ago

      	  </b>
          <p style="word-break: break-word; text-align: justify;">
      	   <%= aa.message %>
          </p>
      	</div>
        <% end %>
      <% end %>
    </div>
      <br> 
      <br> 
      <br> 
      <br> 
      <br> 

     <!-- new data form -->


    <div class="main_form_div">

      <%= form_with(model: @msg, class:"formm", local: false, id:"send_message") do |form| %>
        <% if @msg.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(msg.errors.count, "error") %> prohibited this msg from being saved:</h2>

            <ul>
              <% msg.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

       <div class="input_div"> 

    	  <div class="text-center input_div1" >
            <%= form.text_field :message, placeholder:"new message", class:"input_t", id:"message" %>
    	  </div>
     
          <div style="margin:0 0 -10px 0;"> 
            <%= button_tag(type: 'submit', class:"input_b") do %>
                <i class="material-icons" style="font-size:40px; color: #fff;">send</i>
            <% end %> 
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- other -->
  <% provide(:title, "Chat with User #{@user.name}") %>
  <% session[:url] = request.url %>
  <% session[:rsid] = @user.id %>
  


<div id="modal">
    <div> 
      <div id="set_name">
        <p id="add_name" value="<%= current_user.username %>"></p>
      </div>
    </div>
</div>
</div>


<!-- Delete all messages for all users -->
<!-- Msg.delete_all -->