<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    
    <%= link_to root_path, class:"navbar-brand m-auto" do%> 
      <h3 class="h2"> Chat App </h3>
    <% end %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav my-auto ms-auto lead">
        <li class="nav-item">
          <%= link_to projects_path, class:"nav-link active" do %>
            <i class="material-icons" style="font-size:40px; color: blue;">
              group
            </i>
          <% end %>
        </li>
      </ul>

      <ul class="navbar-nav my-auto ms-auto lead">
        <% if user_signed_in? %>
        
          <li class="nav-item">
            <%= link_to edit_user_registration_path, class:"nav-link active" do%>
              <i class="material-icons" style="font-size:40px; color: blue;">
              manage_accounts
              </i>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete ,class:"nav-link active" do %>
              <i class="material-icons" style="font-size:40px; color: red;">
                logout
              </i>
            <% end %>
          </li>
        <% else %>

          <li class="nav-item">
            <%= link_to new_user_session_path ,class:"nav-link active" do %>
              <i class="material-icons" style="font-size:40px; color: red;">
                login
              </i>
            <% end %>
          </li>
        <% end %>
      </ul> 
    </div>
  </div>
</nav>
  
