<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    
    <%= link_to root_path, class:"navbar-brand m-auto" do%> 
      <h3 class="h2"> Chat App </h3>
    <% end %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto lead">
        <li class="nav-item">
          <%= link_to "All Messages", msgs_path, class:"nav-link active" %>
        </li> 
        <li class="nav-item">
          <%= link_to "projects", projects_path, class:"nav-link active" %>
        </li>

        <% if user_signed_in? %>
        
          <li class="nav-item">
            <%= link_to current_user.name, edit_user_registration_path, class:"nav-link active" %>
          </li>

          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete ,class:"nav-link active" %>
          </li>
        <% else %>

          <li class="nav-item">
            <%= link_to "Log in", new_user_session_path ,class:"nav-link active" %>
          </li>
        <% end %>
      </ul> 
    </div>
  </div>
</nav>
  
